<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore"
			 path="*"
			 verb="*"
			 modules="AspNetCoreModuleV2"
			 resourceType="Unspecified" />
      </handlers>
		<!--
		processPath="dotnet"
		arguments=".\MaestroNotes.dll"

		-->
      <aspNetCore
		processPath=".\MaestroNotes.exe"

		stdoutLogEnabled="true"
		stdoutLogFile=".\logs\stdout"
		hostingModel="OutOfProcess" />

      <defaultDocument enabled="true">
        <files>
          <clear />
          <add value="index.aspx" />
          <add value="index.asp" />
          <add value="home.aspx" />
          <add value="home.asp" />
          <add value="default.aspx" />
          <add value="default.asp" />
        </files>
      </defaultDocument>

    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 2223DC59-5526-4B0B-A3C5-87193CC1EC5A-->